{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <h1>Posts</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ post.name }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ post.url }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ post.active }}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{{ post.deleted }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ post.created ? post.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ post.updated ? post.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>StartTime</th>
                <td>{{ post.startTime ? post.startTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndTime</th>
                <td>{{ post.endTime ? post.endTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('posts_index') }}">back to list</a>

    <a href="{{ path('posts_edit', {'id': post.id}) }}">edit</a>

    {{ include('posts/_delete_form.html.twig') }}
{% endblock %}
